[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
werkzeug = "*"
pyjwt = "*"
google-auth = "*"
google-auth-oauthlib = "*"
flask-mail = "*"
flask-socketio = "*"
eventlet = "*"
flask = "==2.3.3"
flask-restful = "==0.3.10"
flask-cors = "==4.0.0"
flask-sqlalchemy = "==3.0.5"
flask-migrate = "==4.0.5"
flask-bcrypt = "==1.0.1"
flask-jwt-extended = "==4.5.2"
python-decouple = "==3.8"
requests = "==2.31.0"
python-dotenv = "==1.0.0"
sqlalchemy-serializer = "*"
psycopg2-binary = "*"
gunicorn = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.11"
