[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
werkzeug = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
flask-restful = "*"
flask-bcrypt = "*"
pyjwt = "*"
flask-cors = "*"

google-auth = "*"
google-auth-oauthlib = "*"

flask-mail = "*"
python-dotenv = "*"
requests = "*"
python-decouple = "*"
flask-socketio = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.8"
